body{
   background-image: url(/images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    text-align: center;
    margin-top: 20%;
       font-family: 'Raleway', sans-serif;
    color: darkcyan
    padding-bottom: 20%;
}
img{
    border-radius: 50%;
    width: 10%;
}

a{
    text-decoration: none;
    color: azure;
     font font-family: 'Raleway', sans-serif;
}
.nav ul li{
    list-style: none;
    float: left;
    padding: 15px;
    margin-left: 100px;
    font-size: 20px;
    font font-family: 'Raleway', sans-serif;
}

#portfolio{
    text-align: center;

}
#blog{
    text-align: center;
}
#About-me{
    background-color: darkgray;
    color: snow;
    text-align: center;
    padding-bottom: 5%;
    padding-left: 0;
    padding-left: 0;
    margin: 0;

}


.nav {
    margin: 0;
    padding: 0;
}

#skills {
    margin-top: 30%;
    text-align: center;
    margin-bottom: 5%;

}

#skills ul li{
    list-style: none;
    font font-family: 'Raleway', sans-serif;
    padding: 2%:

}

h1{
    font-family: 'Raleway', sans-serif;
}
#About-me ul li{
    list-style: none;
    font font-family: 'Raleway', sans-serif;
    padding: 2%:
}
#Contact{
    text-align: center;
}
